extends ./layout_user

block main
	div.login-main
		div.login
			div.login-screen
				div.login-icon
					img(src="/images/icon.png", alt="Welcome to Login")
					h4 Welcome to Login
				form.login-form(method='post', action='/admin/users/login')
					div.form-group
						input.form-control.login-field(type="email",value="" ,placeholder="Enter your email", id="inputEmail", name='email')
						label.login-field-icon.fui-user(for="inputEmail")
					div.form-group
						input.form-control.login-field(type='password', value='', placeholder='PassWord', id='inputPassword', name='password')
						label.login-field-icon.fui-lock(for="inputPassword")

					button.btn.btn-primary.btn-lg.btn-block(type='submit') 登陆
					a.login-link(href='/admin/users/register') 没有账号? 前往注册