extends ./layout_user

block main
	div.login-main
		if errors && errors.length
			div.errors
				each error in errors
					p.alert.alert-danger= error.msg
		div.login
			div.login-screen
				div.login-icon
					img(src="/images/icon.png", alt="Welcome to Login")
					h4 Welcome to Register
				form.login-form(method='post', action='/admin/users/register')
					div.form-group
						input.form-control.login-field(type="email",value="" ,placeholder="Enter your email", id="inputEmail", name='email')
						label.login-field-icon.fui-user(for="inputEmail")
					div.form-group
						input.form-control.login-field(type='password', value='', placeholder='PassWord', id='inputPassword', name='password')
						label.login-field-icon.fui-lock(for="inputPassword")
					div.form-group
						input.form-control.login-field(type='password', value='', placeholder='Confirm PassWord', id='confirmPassword', name='confirmPassword')
						label.login-field-icon.fui-lock(for="confirmPassword")

					button.btn.btn-primary.btn-lg.btn-block(type='submit') 注册
					a.login-link(href='/admin/users/login') 已有账号? 前往登陆