//- 博客首页

extend ./layout
block main
	h2.page-header
		= category.name
		分类下的所有文章&nbsp;
		= articles.length

	each article in articles
		div.post
			h3.post-title
				a(href='/articles/view' + article._id, target='_blank')
					i.fa.fa-file-archive-o
					&nbsp;	
					=article.title
			div.post-abstract
				=truncate(article.content, 180)
			div.post-meta
				span.post-created
					发布时间:&nbsp;
					=moment(article.created).format('YYYY-MM-DD HH:mm')
				span.post-author
					作者:&nbsp;
					=article.author.name
				span.post-category
					分类:&nbsp;
					a(href='/articles/category/' + article.category.name, target='_blank')
						=article.category.name
				span.post-comment
					评论:&nbsp;
					=article.comments.length || 0
				span.post-favorite
					点赞:&nbsp;
					=article.meta.favorites || 0
				span.post-link
					a(href='/articles/view' + article._id, target='_blank') 查看全文
