//- 博客首页

extend ./layout
block main
	h2.page-header
		博客下所有文章
	each article in articles
		div.post
			h3.post-title
				a(href='/articles/view/' + article.slug, target='_blank')
					=article.title
			div.post-abstract
				!=truncate(article.content, 180)
			div.post-meta
				span.post-created
					发布时间:&nbsp;
					=moment(article.created).format('YYYY-MM-DD HH:mm')
				span.post-author
					作者:&nbsp;
					=article.author.name
				span.post-category
					分类:&nbsp;
					a(href='/articles/category/' + article.category.name, target='_blank')
						=article.category.name
				span.post-comment
					评论:&nbsp;
					=article.comments.length || 0
				span.post-favorite
					点赞:&nbsp;
					=article.meta.favorites || 0
				span.post-link
					a(href='/articles/view/' + article.slug, target='_blank') 查看全文

	if pageCount > 1
		nav
			ul.pagination
				- var currentPage = pageNum || 1
				//- 当前页数为1.不可往前翻页
				if currentPage === 1
					li.disabled
						a «
				else 
					li
						a(href='/articles?page=' + 1) «
				//- 中间情况
				- var page_start = currentPage - 2 > 0 ? currentPage - 2 : 1;
				- var page_end = page_start + 4 >= pageCount ? pageCount : page_start + 4;

				if page_start > 1
					li
						a ...
				while page_start <= page_end
					if (page_start === currentPage)
						li.active.disabled
							a(href='/articles?page=' + page_start)= page_start++
					else
						li
							a(href='/articles?page=' + page_start)= page_start++

				//- 还未滚到最后 
				if page_end < pageCount
					li
						a ...

				//- 当前页数到了末尾.不可往后翻页

				if currentPage === pageCount
					li.disabled
						a »
				else
					li
						a(href='/articles?page=' + pageCount) »
